*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #000000;
    height: 100vh;
    width: 100%;
}
.header{
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.h1{
    position: absolute;
    top: 70px;
}
.year{
    position: absolute;
    top: 120px;
}
.smallcontainer{
    width: 200vh;
    height: 380px;
    background-color: #FFFFFF;
    position: absolute;
    top: 250px;
}
q{
    display: flex;
    position: absolute;
    top: 50px;
    left: 100px;
}
img{
    width: 350px;
    height: 380px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}